.receiver-bubble{
  width: auto;
  height: auto;
  background-color: #ccc;
  border-radius: 10px;
  padding: 0 5px;
}
.reciever-text{
  color: #2d2d2d;
  font-size: 15px;
  padding: 5px;
}
.last-seen-title{
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: #ccc;
  text-transform: lowercase;
}
.sender-bubble{
  width: auto;
  height: auto;
  background-color: rgb(1, 148, 134);
  border-radius: 10px;
  padding: 0 5px;
}
.sender-text{
  color: #fff;
  font-size: 15px;
  padding: 5px;
}
.chat-img{
  margin-top: 15px;
  display: block;
}
.sender-img{
  margin-top: 20px;
}
.time-text{
  font-size: 12px;
  font-weight: bold;
  color: #2d2d2d;
  text-align: center;
}
.date-text{
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: #019486;
}


.message-type-box {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 45px;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid rgba(0,0,0,0.14);

}
.message-type-box textarea {
  border: 0px solid transparent;
  resize: none !important;
  overflow: auto;
  border-bottom: 0px solid transparent !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.message-type-box textarea:focus {
  outline:none;
} 

.message-type-box .input-field textarea {
  position: inherit;
  margin-top: 0 !important;
} 

.message-type-box .input-field .prefix {
  position: absolute;
  width: 3rem;
  padding: 0.8rem 1rem;
  font-size: 1.5rem;
  -webkit-transition: color .2s;
  transition: color .2s;
}