
.container#messages{
   margin-bottom: 50px;
}

.last-seen-title{
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: #ccc;
  text-transform: lowercase;
}

.time-text{
  font-size: 12px;
  font-weight: bold;
  color: #2d2d2d;
  text-align: center;
}
.date-text{
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: #019486;
}


.message-type-box {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 45px;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid rgba(0,0,0,0.14);

}
.message-type-box textarea {
  border: 0px solid transparent;
  resize: none !important;
  overflow: auto;
  border-bottom: 0px solid transparent !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.message-type-box textarea:focus {
  outline:none;
} 

.message-type-box .input-field textarea {
  position: inherit;
  margin-top: 0 !important;
  width: calc(100% - 10rem) !important;
} 

.message-type-box .input-field .prefix {
  position: absolute;
  width: 3rem;
  padding: 0.8rem 1rem;
  font-size: 1.5rem;
  -webkit-transition: color .2s;
  transition: color .2s;
}

/* send button */
.message-type-box a {
  display: inline-block;
  position: inherit;
  padding: 12px;
  right: 6px;
}

.message-type-box a i {
  font-size: 1.5rem !important;
}

 a#upload-menu{
  right: 50px;
  transform: rotate(45deg)
}

.message-type-box a i {
  display: inline !important;
}

.chat {
  list-style-type: none;
  width: 100%;
}

.chat__bubble {
  margin-bottom: 3px;
  padding: 5px 10px;
  clear: both;
  border-radius: 10px 10px 2px 2px ;
  max-width: 80%;
}

.chat__bubble--rcvd {
  background: #f2f2f2;
  color: black;
  float: left;
  border-bottom-right-radius: 10px;
}

.chat__bubble--sent {
  background: rgb(1, 148, 134);
  color: white;
  float: right;
  border-bottom-left-radius: 10px;
}

.chat__bubble--sent + .chat__bubble--sent {
  border-top-right-radius: 2px;
}

.chat__bubble--rcvd + .chat__bubble--rcvd {
  border-top-left-radius: 2px;
}

.chat__bubble--stop {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-bottom: 20px;
}